<?xml version="1.0"?>
<routeConfiguration extend="">
  <ignore>
    <add url="{resource}.axd/{*pathInfo}" />
  </ignore>
  <map default="~/blog/index$0" enable="true">
    <route name="bloglist" url="blog/list/{category}$0/{page}" controller="blog"
      action="list">
      <parameters>
        <add name="category" value="0" constraint="\d+" />
        <add name="page" value="1" constraint="\d+" />
      </parameters>
    </route>
    <route name="blogcategorylist" url="blog/category/{url}$0/{page}" controller="blog"
      action="category">
      <parameters>
        <add name="url" value="" />
        <add name="page" value="1" constraint="\d+" />
      </parameters>
    </route>
    <route name="blogdefaultlist" url="blog/list$0/{page}" controller="blog"
      action="list">
      <parameters>
        <add name="category" value="0" />
        <add name="page" value="1" constraint="\d+" />
      </parameters>
    </route>
    <route name="blogindex" url="blog/index$0/{page}" controller="blog"
      action="index">
      <parameters>
        <add name="page" value="1" constraint="\d+" />
      </parameters>
    </route>
    <route name="blogviewforurl" url="blog/read/{url}$0/{page}" controller="blog" action="urlview">
      <parameters>
        <add name="url" value="" />
        <add name="page" value="1" constraint="\d+" />
      </parameters>
    </route>
    <route name="blogview" url="blog/view/{id}$0/{page}" controller="blog"
      action="view">
      <parameters>
        <add name="id" value="0" constraint="\d+" />
        <add name="page" value="1" constraint="\d+" />
      </parameters>
    </route>
    <route name="blogrss" url="blog/rss/{category}$0/{page}" controller="blog"
      action="rss">
      <parameters>
        <add name="category" value="0" constraint="\d+" />
        <add name="page" value="1" constraint="\d+" />
      </parameters>
    </route>
    <route name="blogatom" url="blog/atom/{category}$0/{page}" controller="blog"
      action="atom">
      <parameters>
        <add name="category" value="0" constraint="\d+" />
        <add name="page" value="1" constraint="\d+" />
      </parameters>
    </route>
    <route name="blogarchive" url="blog/archive/{year}/{month}/{day}$0/{page}"
      controller="blog" action="archive">
      <parameters>
        <add name="year" value="0" constraint="\d+" />
        <add name="month" value="0" constraint="\d+" />
        <add name="day" value="0" constraint="\d+" />
        <add name="page" value="1" constraint="\d+" />
      </parameters>
    </route>
    <route name="commentview" url="blog/comment$0/{page}" controller="blog"
      action="comment">
      <parameters>
        <add name="page" value="1" constraint="\d+" />
      </parameters>
    </route>
    <route name="tags" url="blog/tags$0/{page}" controller="blog"
      action="tags">
      <parameters>
        <add name="page" value="1" constraint="\d+" />
      </parameters>
    </route>
    <route name="tagview" url="blog/tag/{q}$0/{page}" controller="blog"
      action="tag">
      <parameters>
        <add name="q" value="" />
        <add name="page" value="1" constraint="\d+" />
      </parameters>
    </route>
    <route name="blogsearch" url="blog/search/{q}$0/{page}" controller="blog"
      action="search">
      <parameters>
        <add name="q" value="" />
        <add name="page" value="1" constraint="\d+" />
      </parameters>
    </route>
    <route name="blogdefault" url="blog/{action}$0" controller="blog"
      action="index" />
    <route name="blogdowithid" url="blog/{action}/{id}$0" controller="blog"
      action="list">
      <parameters>
        <add name="id" value="0" />
      </parameters>
    </route>
    <route name="userview" url="user/view/{name}$0" controller="user"
      action="view">
      <parameters>
        <add name="name" value="" />
      </parameters>
    </route>
    <route name="userreg" url="user/reg/{step}$0" controller="user"
      action="reg">
      <parameters>
        <add name="step" value="1" constraint="\d+" />
      </parameters>
    </route>
    <route name="useraction" url="user/{action}$0" controller="user"
      action="login" />
    <route name="admincommentdelete" url="admin$0/admincommentdelete/{idarray}"
      controller="admin" action="admincommentdelete">
      <parameters>
        <add name="idarray" value="" constraint="\d+\d,*" />
      </parameters>
    </route>
    <route name="adminskinchange" url="admin$0/skinchange/{path}"
      controller="admin" action="skinchange">
      <parameters>
        <add name="path" value="" />
      </parameters>
    </route>
    <route name="adminaction" url="admin$0/{action}" controller="admin"
      action="noaction" />
    <route name="adminactionwithid" url="admin$0/{action}/{id}" controller="admin"
      action="noaction">
      <parameters>
        <add name="id" value="0" constraint="\d+" />
      </parameters>
    </route>
    <route name="adminlist" url="admin$0/{action}/{page}/{pagesize}"
      controller="admin" action="noaction">
      <parameters>
        <add name="page" value="1" constraint="\d+" />
        <add name="pagesize" value="20" constraint="\d+" />
      </parameters>
    </route>
  </map>
  <short default="~/index$0" enable="true">
    <route name="shortbloglist" url="list/{category}$0/{page}" controller="blog"
      action="list">
      <parameters>
        <add name="category" value="0" constraint="\d+" />
        <add name="page" value="1" constraint="\d+" />
      </parameters>
    </route>
    <route name="shorblogcategorylist" url="category/{url}$0/{page}" controller="blog"
      action="category">
      <parameters>
        <add name="url" value="" />
        <add name="page" value="1" constraint="\d+" />
      </parameters>
    </route>
    <route name="shortblogurllist" url="list/{url}$0/{page}" controller="blog"
      action="list">
      <parameters>
        <add name="url" value="0" />
        <add name="page" value="1" constraint="\d+" />
      </parameters>
    </route>
    <route name="shortblogdefaultlist" url="list$0/{page}" controller="blog"
      action="list">
      <parameters>
        <add name="category" value="0" />
        <add name="page" value="1" constraint="\d+" />
      </parameters>
    </route>
    <route name="shortblogindexdefault" url="index$0" controller="blog"
      action="index">
      <parameters>
        <add name="page" value="1" />
      </parameters>
    </route>
    <route name="shortblogindex" url="index$0/{page}" controller="blog"
      action="index">
      <parameters>
        <add name="page" value="1" constraint="\d+" />
      </parameters>
    </route>
    <route name="shorblogviewforurl" url="read/{url}$0/{page}" controller="blog" action="urlview">
      <parameters>
        <add name="url" value="" />
        <add name="page" value="1" constraint="\d+" />
      </parameters>
    </route>
    <route name="shortblogview" url="view/{id}$0/{page}" controller="blog"
      action="view">
      <parameters>
        <add name="id" value="0" constraint="\d+" />
        <add name="page" value="1" constraint="\d+" />
      </parameters>
    </route>
    <route name="shortblogrss" url="rss/{category}$0/{page}" controller="blog"
      action="rss">
      <parameters>
        <add name="category" value="0" constraint="\d+" />
        <add name="page" value="1" constraint="\d+" />
      </parameters>
    </route>
    <route name="shortblogatom" url="atom/{category}$0/{page}" controller="blog"
      action="atom">
      <parameters>
        <add name="category" value="0" constraint="\d+" />
        <add name="page" value="1" constraint="\d+" />
      </parameters>
    </route>
    <route name="shortblogarchive" url="archive/{year}/{month}/{day}$0/{page}"
      controller="blog" action="archive">
      <parameters>
        <add name="year" value="0" constraint="\d+" />
        <add name="month" value="0" constraint="\d+" />
        <add name="day" value="0" constraint="\d+" />
        <add name="page" value="1" constraint="\d+" />
      </parameters>
    </route>
    <route name="shortuseraction" url="user/{action}$0" controller="user"
      action="login" />
    <route name="shortcommentview" url="comment$0/{page}" controller="blog"
      action="comment">
      <parameters>
        <add name="page" value="1" constraint="\d+" />
      </parameters>
    </route>
    <route name="shorttagview" url="tag/{q}$0/{page}" controller="blog"
      action="tag">
      <parameters>
        <add name="q" value="" />
        <add name="page" value="1" constraint="\d+" />
      </parameters>
    </route>
    <route name="shortblogsearch" url="search/{q}$0/{page}" controller="blog"
      action="search">
      <parameters>
        <add name="q" value="" />
        <add name="page" value="1" constraint="\d+" />
      </parameters>
    </route>
    <route name="defaultshortroute" url="{action}$0" controller="blog"
      action="index" />
    <route name="defaultshortrouteaction" url="{action}/{id}$0" controller="blog"
      action="track">
      <parameters>
        <add name="id" value="0" constraint="\d+" />
      </parameters>
    </route>
  </short>
</routeConfiguration>